# Youtube API -- Printing the view count of a keyword/outputting in dataframe

This jupyter notebook will give you a runthrough as to how to use the youtube api to print viewcount in a pandas dataframe and will graph it.

In [1]:
import requests
import json
import pandas as pd
import numpy as np
api_key = "" ### Enter your own api key here

Requests allows us to look at the html of the youtube page that we are using. Json files are sort of like excel files. Pandas, matplotlib, and numpy are packages that help do statistical calculations, graph things, and simply math! 

THE API KEY IS YOUR OWN API KEY THAT YOU MUST ENTER
You can use this link to open up your own project on google to get the proper creditals needed to access the data in youtube.

https://developers.google.com/youtube/
or 
https://developers.google.com/youtube/v3/getting-started

In [2]:
parameters = {"part": "snippet",
              "maxResults": 5, 
              #this will give you the number of videos that you have
              "order": "date",
              # we are "ordering" by the date of the video
              "publishedAfter": "2017-12-05T00:00:00Z",
              "publishedBefore": "2018-11-04T00:00:00Z",
              #the formatting for time is as follows %Y-%m-%dT%H:%M:%S.000Z
              "q": "",
              "key": api_key,
              "description":"",
              }
#parameters are the things that we will see when we request to see the page via the search engine on youtube
url = "https://www.googleapis.com/youtube/v3/search"

This url gives us access to the search engine in youtube. The paramters are in youtube specifications that can be found here --- https://developers.google.com/youtube/v3/docs/search/list.

This website searches for videos using any keyword.

In [3]:
parameters["q"] = "Lebron James" 
# we are passing in a keyword 'q' to the search engine
page = requests.request(method="get", url=url, params=parameters) # parameters that will be seen in the output
page.text

'{\n "kind": "youtube#searchListResponse",\n "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/Xu1p8wVjB7txhQLwfzmgpGa1jXI\\"",\n "nextPageToken": "CAUQAA",\n "regionCode": "US",\n "pageInfo": {\n  "totalResults": 1000000,\n  "resultsPerPage": 5\n },\n "items": [\n  {\n   "kind": "youtube#searchResult",\n   "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/46KguOBx6AQUn1Azu8mL4TeV-rQ\\"",\n   "id": {\n    "kind": "youtube#video",\n    "videoId": "cWZIbp1vin4"\n   },\n   "snippet": {\n    "publishedAt": "2017-12-13T07:37:16.000Z",\n    "channelId": "UC-qyneq49z63_rAPK-YSK-w",\n    "title": "Will LeBron James Go To The Houston Rockets",\n    "description": "Thanks for watching I made this video a couple days ago but i got sick.",\n    "thumbnails": {\n     "default": {\n      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/default.jpg",\n      "width": 120,\n      "height": 90\n     },\n     "medium": {\n      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/mqdefault.jpg",\n      "width": 320,\n      "height": 180\n     },\n     "high": {\n      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/hqdefault.jpg",\n      "width": 480,\n      "height": 360\n     }\n    },\n    "channelTitle": "Lu",\n    "liveBroadcastContent": "none"\n   }\n  },\n  {\n   "kind": "youtube#searchResult",\n   "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/K0dRTlkkhPsO12i8vVCeYgCrITw\\"",\n   "id": {\n    "kind": "youtube#video",\n    "videoId": "JwtaZaD7T48"\n   },\n   "snippet": {\n    "publishedAt": "2017-12-13T07:30:41.000Z",\n    "channelId": "UCgYOzfmPLtGvqKyoYAut5tA",\n    "title": "nba live mobile hacks no survey - nba live mobile hack lebron james",\n    "description": "nba live mobile real hack - nba live mobile hack android lucky patcher.",\n    "thumbnails": {\n     "default": {\n      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/default.jpg",\n      "width": 120,\n      "height": 90\n     },\n     "medium": {\n      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/mqdefault.jpg",\n      "width": 320,\n      "height": 180\n     },\n     "high": {\n      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/hqdefault.jpg",\n      "width": 480,\n      "height": 360\n     }\n    },\n    "channelTitle": "Jugok",\n    "liveBroadcastContent": "none"\n   }\n  },\n  {\n   "kind": "youtube#searchResult",\n   "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/ir7fP3NvMrl9iRaNHqkOHQQWzpM\\"",\n   "id": {\n    "kind": "youtube#video",\n    "videoId": "RDgh4aKd4Wk"\n   },\n   "snippet": {\n    "publishedAt": "2017-12-13T07:28:22.000Z",\n    "channelId": "UCDGLVybsLl9953UktCk3QYQ",\n    "title": "Lebron James Full Highlights Vs Hawks •12/12/2017 25 pts",\n    "description": "Subscribe for more videos.",\n    "thumbnails": {\n     "default": {\n      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/default.jpg",\n      "width": 120,\n      "height": 90\n     },\n     "medium": {\n      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/mqdefault.jpg",\n      "width": 320,\n      "height": 180\n     },\n     "high": {\n      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/hqdefault.jpg",\n      "width": 480,\n      "height": 360\n     }\n    },\n    "channelTitle": "Estarlin gomez",\n    "liveBroadcastContent": "none"\n   }\n  },\n  {\n   "kind": "youtube#searchResult",\n   "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/OFlh8lvAuYnOGfsPsQP5s2LDJ_0\\"",\n   "id": {\n    "kind": "youtube#video",\n    "videoId": "kwtWszbATJs"\n   },\n   "snippet": {\n    "publishedAt": "2017-12-13T07:19:12.000Z",\n    "channelId": "UCiAmaCVzSgfJd6CmzqhGong",\n    "title": "LeBron James\'den İNANILMAZ bir Asist!",\n    "description": "",\n    "thumbnails": {\n     "default": {\n      "url": "https://i.ytimg.com/vi/kwtWszbATJs/default.jpg",\n      "width": 120,\n      "height": 90\n     },\n     "medium": {\n      "url": "https://i.ytimg.com/vi/kwtWszbATJs/mqdefault.jpg",\n      "width": 320,\n      "height": 180\n     },\n     "high": {\n      "url": "https://i.ytimg.com/vi/kwtWszbATJs/hqdefault.jpg",\n      "width": 480,\n      "height": 360\n     }\n    },\n    "channelTitle": "LeBron James Türkiye",\n    "liveBroadcastContent": "none"\n   }\n  },\n  {\n   "kind": "youtube#searchResult",\n   "etag": "\\"7991kDR-QPaa9r0pePmDjBEa2h8/gPDLo_M_loyXuWtYxqNuZYKdx40\\"",\n   "id": {\n    "kind": "youtube#video",\n    "videoId": "5nCAhdsWtSQ"\n   },\n   "snippet": {\n    "publishedAt": "2017-12-13T07:16:58.000Z",\n    "channelId": "UC_BX7I2j9U68giOrnCG_fow",\n    "title": "THE GOAT LEBRON JAMES IS DOING IT ALL!! CAVS vs HAWKS REACTION!",\n    "description": "My Reaction To Lebron And the Cavs Blowing out the Hawks With ease Subscribe if your New Like if you enjoyed Comment more ideas Follow me Socials: Ig//Twistvip Sc//omgitssane Twitter//coming...",\n    "thumbnails": {\n     "default": {\n      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/default.jpg",\n      "width": 120,\n      "height": 90\n     },\n     "medium": {\n      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/mqdefault.jpg",\n      "width": 320,\n      "height": 180\n     },\n     "high": {\n      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/hqdefault.jpg",\n      "width": 480,\n      "height": 360\n     }\n    },\n    "channelTitle": "Twist StayMelo",\n    "liveBroadcastContent": "none"\n   }\n  }\n ]\n}\n'

Let's clean that up a bit

In [4]:
print(page.text)

{
 "kind": "youtube#searchListResponse",
 "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/Xu1p8wVjB7txhQLwfzmgpGa1jXI\"",
 "nextPageToken": "CAUQAA",
 "regionCode": "US",
 "pageInfo": {
  "totalResults": 1000000,
  "resultsPerPage": 5
 },
 "items": [
  {
   "kind": "youtube#searchResult",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/46KguOBx6AQUn1Azu8mL4TeV-rQ\"",
   "id": {
    "kind": "youtube#video",
    "videoId": "cWZIbp1vin4"
   },
   "snippet": {
    "publishedAt": "2017-12-13T07:37:16.000Z",
    "channelId": "UC-qyneq49z63_rAPK-YSK-w",
    "title": "Will LeBron James Go To The Houston Rockets",
    "description": "Thanks for watching I made this video a couple days ago but i got sick.",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/cWZIbp1vin4/hqdefault.jpg",
      "width": 480,
      "height": 360
     }
    },
    "channelTitle": "Lu",
    "liveBroadcastContent": "none"
   }
  },
  {
   "kind": "youtube#searchResult",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/K0dRTlkkhPsO12i8vVCeYgCrITw\"",
   "id": {
    "kind": "youtube#video",
    "videoId": "JwtaZaD7T48"
   },
   "snippet": {
    "publishedAt": "2017-12-13T07:30:41.000Z",
    "channelId": "UCgYOzfmPLtGvqKyoYAut5tA",
    "title": "nba live mobile hacks no survey - nba live mobile hack lebron james",
    "description": "nba live mobile real hack - nba live mobile hack android lucky patcher.",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/JwtaZaD7T48/hqdefault.jpg",
      "width": 480,
      "height": 360
     }
    },
    "channelTitle": "Jugok",
    "liveBroadcastContent": "none"
   }
  },
  {
   "kind": "youtube#searchResult",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/ir7fP3NvMrl9iRaNHqkOHQQWzpM\"",
   "id": {
    "kind": "youtube#video",
    "videoId": "RDgh4aKd4Wk"
   },
   "snippet": {
    "publishedAt": "2017-12-13T07:28:22.000Z",
    "channelId": "UCDGLVybsLl9953UktCk3QYQ",
    "title": "Lebron James Full Highlights Vs Hawks •12/12/2017 25 pts",
    "description": "Subscribe for more videos.",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/RDgh4aKd4Wk/hqdefault.jpg",
      "width": 480,
      "height": 360
     }
    },
    "channelTitle": "Estarlin gomez",
    "liveBroadcastContent": "none"
   }
  },
  {
   "kind": "youtube#searchResult",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/OFlh8lvAuYnOGfsPsQP5s2LDJ_0\"",
   "id": {
    "kind": "youtube#video",
    "videoId": "kwtWszbATJs"
   },
   "snippet": {
    "publishedAt": "2017-12-13T07:19:12.000Z",
    "channelId": "UCiAmaCVzSgfJd6CmzqhGong",
    "title": "LeBron James'den İNANILMAZ bir Asist!",
    "description": "",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/kwtWszbATJs/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/kwtWszbATJs/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/kwtWszbATJs/hqdefault.jpg",
      "width": 480,
      "height": 360
     }
    },
    "channelTitle": "LeBron James Türkiye",
    "liveBroadcastContent": "none"
   }
  },
  {
   "kind": "youtube#searchResult",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/gPDLo_M_loyXuWtYxqNuZYKdx40\"",
   "id": {
    "kind": "youtube#video",
    "videoId": "5nCAhdsWtSQ"
   },
   "snippet": {
    "publishedAt": "2017-12-13T07:16:58.000Z",
    "channelId": "UC_BX7I2j9U68giOrnCG_fow",
    "title": "THE GOAT LEBRON JAMES IS DOING IT ALL!! CAVS vs HAWKS REACTION!",
    "description": "My Reaction To Lebron And the Cavs Blowing out the Hawks With ease Subscribe if your New Like if you enjoyed Comment more ideas Follow me Socials: Ig//Twistvip Sc//omgitssane Twitter//coming...",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/5nCAhdsWtSQ/hqdefault.jpg",
      "width": 480,
      "height": 360
     }
    },
    "channelTitle": "Twist StayMelo",
    "liveBroadcastContent": "none"
   }
  }
 ]
}

The following part takes the videos and looks at the analytics of it.

In [5]:
parameters = {"part": "statistics", # This gives us the statistics
              "id": "8nn-YiUMqmI", #Enter the id of the video
              "key": api_key,
              }

This new url will allow us to get the statistics for each individual video given the id of it. We can see the viewCount, dislikeCount, likeCount, favoriteCount, etc. Pretty much everything that you see when you look at a youtube page.

In [6]:
page = requests.request(method="get", url="https://www.googleapis.com/youtube/v3/videos", params=parameters)
print (page.text)

{
 "kind": "youtube#videoListResponse",
 "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/mduJ5K7zTd8SJcYc7BTK-YrP8bM\"",
 "pageInfo": {
  "totalResults": 1,
  "resultsPerPage": 1
 },
 "items": [
  {
   "kind": "youtube#video",
   "etag": "\"7991kDR-QPaa9r0pePmDjBEa2h8/_eedbgrwiGRNda6VowPPvGQZCaE\"",
   "id": "8nn-YiUMqmI",
   "statistics": {
    "viewCount": "24118",
    "likeCount": "241",
    "dislikeCount": "43",
    "favoriteCount": "0",
    "commentCount": "172"
   }
  }
 ]
}

list_check is a function that takes each video in the list of videos and prepares it for analytics.

In [7]:
def list_check(q, publishedAfter, publishedBefore, pageToken):
    parameters = {"part": "id",
                  "maxResults": 50,
                  "order": "viewCount",
                  "pageToken": pageToken,
                  "q": q,
                  "type": "video",
                  "key": api_key,
                  "publishedAfter":publishedAfter,
                  "publishedBefore":publishedBefore
                  }
    page = requests.request(method="get", url = "https://www.googleapis.com/youtube/v3/search", params = parameters)
    return json.loads(page.text)

Search_list is a helper function that takes in all of the videos and uses list_check to run and prepare for analytics

In [8]:
def searchList(q, publishedAfter, publishedBefore, max_requests = 50):
    next_Page_Token=""
    final = []
    for counter in range(max_requests):
        j_results = list_check(q=q, publishedAfter=publishedAfter, publishedBefore=publishedBefore, pageToken=next_Page_Token)
        items = j_results.get("items", None)
        final += [item["id"]["videoId"] for item in j_results["items"]]
        if "nextPageToken" in j_results:
            next_Page_Token = j_results["nextPageToken"]
        else:
            return final
    return final

videoList takes care of pulling the likes, viewCount, dislikes,etc.

In [15]:
def video_list_check(video_id):
    parameters = {"part": "statistics",
                  "id": ",".join(video_id),
                  "key": api_key,
                  "maxResults": 50
                  }
    url = "https://www.googleapis.com/youtube/v3/videos"
    page = requests.request(method="get", url=url, params=parameters)
    j_results = json.loads(page.text)
    df = pd.DataFrame([item["statistics"] for item in j_results["items"]], dtype=np.int64)
    #this converts from string to integer...this will help when we are trying to combine statistics
    parameters["part"] = "snippet"
    page = requests.request(method="get", url=url, params=parameters)
    j_results = json.loads(page.text)
    return df

uses helper function to sort through list of videos

In [16]:
def videoList(video_id):
    values = []
    for index, item in enumerate(video_id[::50]): 
        #use the last 50 videos, which is the max-request, and pulls necessary information
        t_index = index * 50
        values.append(video_list_check(video_id[t_index:t_index+50]))
    return pd.concat(values)

In [17]:
def data(keywords, publishedAfter, publishedBefore):
    results_list = []
    for q in keywords:
        results = searchList(q=q,
                              publishedAfter=publishedAfter,
                              publishedBefore=publishedBefore,
                              max_requests=50)

        stat_data_set = videoList(results)
        stat_data_set["keyword"] = q
        results_list.append(stat_data_set)
    data_set = pd.concat(results_list)
    return data_set

Function that takes in the starting and ending time that you specify and will give you the amount of views of that specific keyword in that time interval.

In [18]:
def key_word_statisitics(keywords,
                         year_begin,
                         year_end,
                         month_begin,
                         month_end,
                         day_begin,
                         day_end):
    
        return data(keywords,youtube_date(year_begin,month_begin,day_begin),youtube_date(year_end,month_end,day_end))

Helper funciton that puts time period in "youtube" formatting.

In [19]:
def youtube_date(year_end,month_end,day_fin):
    if (day_fin < 10):
        day_end = "0" + str(day_fin)
    else:
        day_end = str(day_fin)
    if (month_end < 10):
        month_fin = "0" + str(month_end)
    else:
        month_fin = str(month_end)
    return ""+str(year_end)+"-"+month_fin+"-"+day_end+"T00:00:00Z"

Prints out a pandas dataframe of all of the analytics of the videos. Note that this prints out a maximum of 50 "requests" or videos per week. In addition, getting access to likeCount, dislikeCount, or commentCount requires furthur authorization.

In [20]:
keyword = ["python","javascript","java","fidget spinners","php","sorting algorithms","Machine Learning"]
data = key_word_statisitics(keyword,2017,2017,1,12,1,12)
pd.DataFrame(data=data)

,commentCount,dislikeCount,favoriteCount,likeCount,viewCount,keyword
0,916,NaN,0,NaN,13463202,python
1,605,4267,0,7540,10307588,python
2,649,5697,0,12683,9958598,python
3,564,2467,0,6495,8274390,python
4,8316,4284,0,17988,7778672,python
5,278,1813,0,4129,4912177,python
6,291,3382,0,5280,3855644,python
7,1724,2816,0,6504,3467324,python
8,147,NaN,0,NaN,2870356,python
9,286,1531,0,1304,2851587,python
10,114,745,0,2157,1967983,python
11,311,1257,0,3845,2041488,python
12,164,514,0,1520,1908062,python
13,2224,1982,0,37908,1658544,python
14,57,NaN,0,NaN,1619124,python
15,124,638,0,3042,1417343,python
16,13418,507,0,63869,1368812,python
17,267,118,0,336,1204702,python
18,1050,399,0,8729,1140173,python
19,12,6,0,89,1070355,python
20,62,NaN,0,NaN,1001796,python
21,668,780,0,771,981176,python
22,101,25,0,187,902698,python
23,540,498,0,1918,771332,python
24,860,464,0,12877,728960,python
25,202,856,0,2200,718055,python
26,313,502,0,1468,697316,python
27,284,526,0,821,612318,python
28,75,354,0,679,573565,python
29,32,NaN,0,NaN,555978,python
...,...,...,...,...,...,...
19,0,0,0,0,17,Machine Learning
20,1,0,0,1,20,Machine Learning
21,0,0,0,2,27,Machine Learning
22,0,0,0,2,18,Machine Learning
23,0,0,0,0,13,Machine Learning
24,0,0,0,2,67,Machine Learning
25,1,0,0,6,53,Machine Learning
26,0,0,0,2,30,Machine Learning
27,2,0,0,17,64,Machine Learning
28,0,0,0,0,23,Machine Learning
29,0,0,0,0,11,Machine Learning
30,0,0,0,2,17,Machine Learning
31,0,0,0,1,17,Machine Learning
32,0,0,0,0,7,Machine Learning
33,0,0,0,0,7,Machine Learning
34,0,0,0,0,9,Machine Learning
35,0,0,0,2,12,Machine Learning
36,0,0,0,0,7,Machine Learning
37,1,0,0,0,8,Machine Learning
38,0,NaN,0,NaN,40,Machine Learning
39,0,0,0,2,10,Machine Learning
40,NaN,0,0,0,21,Machine Learning
41,0,0,0,3,24,Machine Learning
42,0,0,0,1,26,Machine Learning
43,0,0,0,0,3,Machine Learning
44,0,0,0,0,3,Machine Learning
45,0,0,0,0,15,Machine Learning
46,0,0,0,0,4,Machine Learning
47,0,0,0,0,3,Machine Learning
48,0,0,0,0,1,Machine Learning

In [21]:
pd.pivot_table(data, values=["viewCount",], aggfunc='sum', index="keyword")

                     viewCount
keyword
Machine Learning      10467127
fidget spinners     1443961565
java                  18323945
javascript             8043704
php                    9348522
python               111869072
sorting algorithms     2066162